@import "./../../components/CommonCSS/Common";

.product-action {
  grid-column: 1/4;
  grid-row: 1;

  .cart__products {
    margin: 180px 10px 10px 10px;
    h2 {
      margin: 20px;
    }
    .cart__total {
      margin: 20px;
    }
  }
}

.products-container {
  grid-column: 4/13;
  grid-row: 1;
  .products__wrapper {
    margin: 180px 5px 200px 5px;
    width: 100%;
    .products__header {
      @include display(flex, space-between, center, none);
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 320px) {
  .product-action {
    grid-column: 1/13;
    grid-row: 2;
    margin-bottom: 50px;
    h2 {
      margin: 5px 20px;
    }
  }
  .products-container {
    grid-column: 1/13;
    grid-row: 1;
    .products__wrapper {
      margin: 150px 5px 20px 5px;
    }
  }
}
@media (min-width: 321px) and (max-width: 480px) {
  .product-action {
    grid-column: 1/13;
    grid-row: 2;
    margin-bottom: 50px;
    h2 {
      margin: 5px 20px;
    }
  }
  .products-container {
    grid-column: 1/13;
    grid-row: 1;
    .products__wrapper {
      margin: 150px 5px 20px 5px;
    }
  }
}
@media (min-width: 481px) and (max-width: 600px) {
  .product-action {
    grid-column: 1/13;
    grid-row: 2;
    margin-bottom: 50px;
    h2 {
      margin: 5px 20px;
    }
  }
  .products-container {
    grid-column: 1/13;
    grid-row: 1;
    .products__wrapper {
      margin: 150px 5px 20px 5px;
    }
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  .product-action {
    grid-column: 1/13;
    grid-row: 2;
    margin-bottom: 50px;
    h2 {
      margin: 5px 20px;
    }
  }
  .products-container {
    grid-column: 1/13;
    grid-row: 1;
    .products__wrapper {
      margin: 150px 5px 20px 5px;
    }
  }
}
@media (min-width: 769px) and (max-width: 800px) {
  .product-action {
    grid-column: 1/13;
    grid-row: 2;
    margin-bottom: 50px;
    h2 {
      margin: 5px 20px;
    }
  }
  .products-container {
    grid-column: 1/13;
    grid-row: 1;
    margin-top: 30px;
    .products__wrapper {
      margin: 150px 5px 20px 5px;
    }
  }
}
@media (min-width: 801px) and (max-width: 1280px) {
  .product-action {
    margin-top: 60px;
  }
  .products-container {
    margin-top: 30px;
  }
}
