@import "./../CommonCSS/Common";

header {
  grid-column: 1/13;
  grid-row: 1;
  width: 100%;
  max-height: auto;
  .header__container {
    .header__row {
      background-color: $black;
      height: 6vh;
      @include display(flex, flex-end, center, wrap);
      .header__list {
        width: 350px;
        @include display(flex, center, center, none);
        img {
          max-width: 60px;
          margin-left: 15px;
          max-height: 30px;
          object-fit: contain;
        }
      }
    }
    .header__menu {
      height: 15vh;
      background-color: $red;
      padding: 10px 0;
      @include display(flex, space-around, center, none);
      .header__brand {
        @include display(flex, center, center, none);
        .header__content {
          span {
            font-size: 35px;
            font-weight: bolder;
          }
          p {
            color: white;
            font-size: 16px;
            font-weight: 600;
          }
        }
        img {
          height: 70px;
          width: 70px;
          object-fit: cover;
          margin-right: 10px;
        }
      }
      nav {
        ul {
          width: 300px;
          @include display(flex, space-around, center, none);
          li {
            margin-left: 35px;
            a {
              font-size: 22px;
              color: white;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

.white {
  color: white;
}
.black {
  color: black;
}

@media screen and (max-width: 320px) {
  header {
    width: 135%;
    .header__container {
      .header__row {
        .header__list {
          width: 200px;
          img {
            max-width: 30px;
            margin-left: 10px;
          }
        }
      }
      .header__menu {
        flex-direction: column;
        .header__brand {
          margin-bottom: 10px;
          img {
            width: 50px;
            height: 50px;
          }
          .header__content {
            span {
              font-size: 25px;
            }
            p {
              font-size: 14px;
            }
          }
        }
        nav {
          ul {
            flex-direction: column;
            display: none;
          }
        }
      }
    }
  }
}
@media (max-width: 480px) and (min-width: 321px) {
  header {
    width: 120%;
    .header__container {
      .header__row {
        height: 5vh;
        .header__list {
          width: 200px;
          img {
            max-width: 30px;
            margin-left: 10px;
          }
        }
      }
      .header__menu {
        @include display(flex, center, center, none);
        flex-direction: column;
        height: 13vh;
        .header__brand {
          margin-bottom: 10px;
          img {
            width: 50px;
            height: 50px;
          }
          .header__content {
            span {
              font-size: 25px;
            }
            p {
              font-size: 14px;
            }
          }
        }
        nav {
          ul {
            flex-direction: column;
            display: none;
          }
        }
      }
    }
  }
}
@media (max-width: 600px) and (min-width: 481px) {
  header {
    .header__container {
      .header__row {
        height: 5vh;
        .header__list {
          width: 200px;
          img {
            max-width: 30px;
            margin-left: 10px;
          }
        }
      }
      .header__menu {
        flex-direction: column;
        height: 13vh;
        .header__brand {
          margin-bottom: 10px;
          img {
            width: 60px;
            height: 60px;
          }
          .header__content {
            span {
              font-size: 30px;
            }
            p {
              font-size: 16px;
            }
          }
        }
        nav {
          ul {
            flex-direction: column;
            display: none;
          }
        }
      }
    }
  }
}
@media (max-width: 768px) and (min-width: 601px) {
  header {
    height: 12vh;
    .header__container {
      .header__row {
        height: 3vh;
        .header__list {
          width: 200px;
          img {
            max-width: 30px;
            margin-left: 10px;
          }
        }
      }
      .header__menu {
        @include display(flex, center, center, none);
        height: 9vh;
        .header__brand {
          margin-bottom: 10px;
          img {
            width: 70px;
            height: 70px;
          }
          .header__content {
            span {
              font-size: 35px;
            }
            p {
              font-size: 16px;
            }
          }
        }
        nav {
          ul {
            flex-direction: column;
            display: none;
          }
        }
      }
    }
  }
}
