@import "./../../../CommonCSS/Common";

.cart__item {
  max-height: 150px;
  position: relative;
  margin: 5px 0;
  padding: 0 5px;
  border-top: 1px solid black;
  @include display(flex, space-between, center, none);
  .cart__info {
    padding-top: 9px;
    width: 70%;
    @include display(flex, center, center, none);
    img {
      height: 100px;
      width: 90px;
      object-fit: cover;
      margin-right: 5px;
    }
  }
  .cart__action {
    @include display(flex, flex-end, center, none);
    flex-direction: column;
    .btn__group {
      margin-top: 15px;
      .btn__change {
        height: 20px;
        width: 20px;
        border: none;
        color: black;
        margin-right: 2px;
        cursor: pointer;
      }
    }
  }
  .close {
    background-color: transparent;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    font-weight: bold;
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: rgb(209, 209, 209);
    }
  }
}

span {
  font-size: 20px;
  font-weight: bold;
}
