@import "../CommonCSS/Common";

.carousel {
  grid-column: 1/13;
  grid-row: 2;
  background-color: $gray-footer;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  .carousel__container {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
