@import "./../../components/CommonCSS/Common";

.article {
  grid-column: 2/12;
  grid-row: 3;
  height: auto;
  width: 100%;
  margin: 50px 0;
  .article__container {
    @include display(flex, space-between, center, wrap);
  }
}

.subArticle__container {
  grid-column: 2/12;
  grid-row: 5;
  @include display(flex, space-between, center, wrap);
  margin: 50px 0;
}

.matches {
  grid-column: 2/12;
  grid-row: 7;
  margin: 50px 0;
  display: block;
  .matches__container {
    @include display(flex, space-between, center, wrap);
  }
}
