@import "./../../../CommonCSS/Common";

.size__check {
  position: relative;
  cursor: pointer;
  margin: 5px 5px;
  &:hover {
    .checkmark {
      border: 1px solid black;
      font-weight: bold;
      font-size: 17px;
      background-color: rgb(214, 213, 213);
    }
  }
  .input {
    opacity: 0;
    @include mid-absolute(absolute, 50%, 50%, $trans);
    cursor: pointer;
  }
  .checkmark {
    height: 50px;
    width: 50px;
    background-color: rgb(204, 204, 204);
    border-radius: 50%;
    font-size: 15px;
    @include display(flex, center, center, none);
  }
}

.checked {
  border: 1px solid black;
  font-weight: bold;
  font-size: 17px;
  background-color: rgb(214, 213, 213);
}
