@import "./../../../CommonCSS/Common";

.article__card {
  margin: 15px 10px;
  &:hover {
    img {
      transform: scale(1.03);
    }
  }
}
.bigger {
  height: 310px;
  width: 540px;
  overflow: hidden;
  @include display(flex, center, none, none);
  img {
    margin-right: 20px;
    width: 60%;
    height: 100%;
  }
}
